
/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
	--orange:#f18930;
    --green: #008000; /* Example color */
    --outline: 2px solid #000; /* Example outline */
    --box-shadow: 0 8px 9px rgba(0, 0, 8, 0.2); /* Example box-shadow */
}


.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
    padding: 30px;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{ 
    color:hsla(28, 87%, 57%, 0.76);
    text-decoration: none;
}
a:hover{
    color: #f18930 ;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: hsla(28, 87%, 57%, 0.76);
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #f18930;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green;
}

/* Header starts Here */

.header{
    
    top: 0;
    left: 0;
    width: 100%;
    padding:0 60px;
    background:rgb(52, 52, 52);
    display:flex;
    align-items:center;
    z-index:100;
    align-content: space-between;
    justify-content: flex-start;
    bottom: 250px;
}


.logo img{
   max-width: 70px;
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
}


.navbar{
    display: flex;
    flex: 1;
    align-items: center;
}


.navbar a{
    font-size:18px;
    color: #fff;
    font-weight:500;
    text-decoration: none;
    margin-left:50px;
    position: relative;
}

.navbar > a:nth-child(2) {
    margin-left: 700px;
  }
  

.navbar a::before{
    content:'';
    position:absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background:#f18930;
    transition:.3s;
}

.navbar a:hover::before{
    width:100%;
}


/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../images/menu/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0;
   
    
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */


.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
    transition: transform 0.2s;
   
}
.box-3:hover{
    transform: scale(1.1);
}



/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
    background-color: #f1a430 ;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/* css for feedback Section */

	

.review .review-customer .heading span{
	color:orange;
	display: inline-block;
	padding:5rem;
	clip-path: polygon(100);
}


.review .review-slider{
	position:relative;
	align-self:1100px;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	padding:30px;
	


}

.heading{
	position:absolute;
	top: 20%;
	display: flex;
	width: 100vw;
	justify-content:center;
}


.review .review-slider .box{
	width:300px;
	height:400px;
	position:relative;
	background:#f0f0f0;
	margin:30px 10px;
	padding:20px 15px;
	display:flex;
	flex-direction:column;
	transition:0.3s ease-in-out;
	margin-top:5%;
	border:1.3px solid;
	background:#fff;
	border-radius:.7rem;
}

.review .review-slider .box:hover{
	box-shadow: 1px 1px 10px 4px var(--orange);
}

.review .review-slider .box img{
	height:100px;
	width:100px;
    position: relative;
	border-radius:100%;
	box-shadow:0 5 px 20 px rbga(0,0,0,1.2);
	transform:scale(1.1);
	align-items:center;
	margin-left: 70px;
}


.review .review-slider .box p{
	padding: 2rem 0;
	line-height: 1.;
	color: var(--light-color);
	font-size: .8rem;
	text-align: justify;
	font-size:1.0rem;
}

.review .review-slider .box h3{
	padding-bottom: .5rem;
	color: var(--black);
	font-size: 1.2rem;
	text-align:center;
	
}

.stars{
	display:flex;
	justify-content:center;
	align-items: center;
}


.review .review-slider .box .stars i{
	
	color: orange;
	font-size: 1.4rem;
	align-items:center;
	display:flex;
	justify-content: center;
	
	
}

/* CSS for Footer */

:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-sans-serif-poppins: 'Poppins', sans-serif;
    --bs-font-sans-serif-arial: Arial, Helvetica, sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-font-arial: Arial, sans-serif;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --body-width: 100%;
    --max-body-width: 1400px;
    --n-blocks: 4;
    --n-cards: 4;
    --padding-1-rem: 1rem;
    --margin-1-rem: 1rem;
    --margin-percen-01: 1%;
    --padding-percen-01: 1%;
    --margin-05-rem: 0.5rem;
    --background-color-menu: hsl(220, 24%, 12%);
    --background-color-footer: #24262b;
    --background-color-footer_2: #343434;
}

.footer-content h4{
    font-size: 25px;
    
}

html {
    background: #f9f9f9;
}


.footer{
	background-color: var(--background-color-footer_2);
    padding: calc(var(--padding-percen-01) * 2) 0 0 0;
}


.container-for-footer{
    display: flex;
	max-width: var(--body-width);
	margin:auto;
	font-family: var(--bs-font-sans-serif-arial);
	justify-content: center;
}


.footer-content {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    min-width: 5.5rem;
    align-items: center;
    }


.footer-content h4{
	font-size: clamp(0.75rem, 1.18vw, 1.1rem);
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: calc(var(--margin-1-rem) * 0.8);
	font-weight: 500;
	text-align: center;
	position: relative;
}


.footer-content span{
    padding: var(--padding-percen-01) calc(var(--padding-1-rem) / 3);
    font-size: clamp(0.6rem, 1.04vw, 0.85rem);
    color: white;
    text-align: center;
    line-height: 2;
}


.footer-content span:hover{
    scale: 1.03;
}


ul.footer-content {
    text-align: center;
    padding: 0;
}


ul.list-footer li{
     width: auto;
     text-align: center;
     list-style-type:none;
     padding: 0 0 calc(var(--padding-percen-01)* 15) 0;
     position: relative;
}


ul.list-footer li a {
    color: white;
    font-size: clamp(0.65rem, 1.04vw, 0.85rem);
    text-decoration: none;
}


ul.list-footer li::before, .footer-content h4::before{
      content: '';
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 100%;
      width: 0;
      height: 2px;
      background: #f18930;
      transition-duration: .5s;
}


ul.list-footer li:hover::before, .footer-content h4:hover::before{
      width: 5rem;
}


ul.social-icons-footer{
    display: flex;
    width: 100%;
    max-width: 10em;
    flex-wrap: wrap;
    justify-content: center;

}

.footer-content .social-icons-footer li {
    list-style: none;
     padding: 0 calc(var(--padding-percen-01) * 2);
}


.footer-content .social-icons-footer li a{
	display: inline-block;
	font-size: clamp(0.65rem, 1.05vw, 0.85rem);
	background-color: rgba(255,255,255,0.2);
	margin: 0 calc(var(--margin-percen-01) * 3) calc(var(--margin-percen-01) * 3) 0;
	text-align: center;
	padding: calc(var(--padding-1-rem) / 4) calc(var(--padding-1-rem) / 1.8);
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}


.footer-content .social-icons-footer li a:hover{
	color: #24262b;
	background-color: #ffffff;
}


.fab, .far {
    font-size: clamp(0.6rem, 1.05vw, 1.1rem);
    width: 0.8em;
    }


.bottom-bar-footer{
      background: #f18930;
      text-align: center;
      margin-top: calc(var(--margin-percen-01) * 1.2);
}


.bottom-bar-footer p{
      color: #343434;
      margin: 0;
      font-size: clamp(0.8rem, 1.05vw, 1rem);
      padding: calc(var(--padding-percen-01) * 1.1);
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
